<!DOCTYPE html>
<html lang="en">
<!--设置网页配置内容-->
<head>
    <!--设置网页编码格式-->
    <meta charset="UTF-8">
    <!--设置网页编码格式-->
    <title>仙女之家</title>
    <!--js的使用方式： 1.引入一个js文件，在js中写代码-->
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
        //2. 直接写js代码：html中，直接写js
    </script>
    <!--css的使用方式1:引入css文件-->
    <link rel="stylesheet" href="替换为css文件路径">
    <!--css的使用方式2：直接在html文件中写css样式-->
    <style>
        p{
            color:indianred;
        }

    </style>



</head>

<!--body标签：网页要展示的内容，一般叫做dom元素/dom标签-->
<body>



</body>
</html>