<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
    <h1>老仙女的简历</h1>
    <hr>
    <h3>个人信息</h3>
    <table board="0">
        <tr>
            <td>姓名：王瘦娟</td>
            <td>年龄：20</td>

        </tr>
        <tr>
            <td>学校：西安古墓派</td>
            <td>专业：吊绳睡觉</td>
        </tr>
        <tr>

        </tr>

    </table>
    <hr>
    <h3>专业技能</h3>
    <ul>
        <li>精通java多线程相关知识</li>
        <li></li>
        <li></li>
    </ul>
    <hr>
    <h3>项目经历</h3>
    <div>
        <p>项目名称：个人博客</p>
        <ul>
            <li>项目简介：xxx</li>
            <li>开发环境：Maven,IDEA,Windows</li>
            <li>技术栈：Servlet,MySQL,Jackson,UEditor</li>
            <li>项目描述：</li>
        </ul>
        <ul>

        </ul>
    </div>
</body>
</html>